<div style="width:400px; height:300px; float:left; margin:0 20px 0 0">
    <div id="myFlwPlayer{{ result.item }}"></div>
</div>
<div class="youtube_info">
    {% if result.title %}<b>Title:</b>{{ result.title }}<br/>{% endif %}
    {% if result.published %}<b>Published:</b>{{ result.published }}<br/>{% endif %}
    {% if result.updated %}<b>Updated:</b>{{ result.updated }}<br/>{% endif %}
    {% if result.list %}<b>Categories:</b>{{ result.list }}<br/>{% endif %}
    {% if result.content %}<b>Content:</b>{{ result.content }}<br/>{% endif %}
    {% if result.author %}<b>Author:</b>{{ result.author }}<br/>{% endif %}
</div>
